#book3:nth-child(1) {
  width: .1vw;
  height: 20vh;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #d6f1f2;
}
#book3:nth-child(1) #titles3 {
  margin-bottom: -18px;
  font-family: 'Acme', sans-serif;
  font-size: 1vw;
  color: #f4e5eb;
 }
#book3:nth-child(2) {
  width: .2vw;
  height: 17vh;
  text-align: center;
  background-image: url(assets/pinktab.png);
  background-position: top;
  background-size: 140%; 
  background-repeat: no-repeat;
  background-color: #cef3f5;
}
#book3:nth-child(2) #titles3 {
  margin-bottom: -15px;
  margin-top: -12px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1vw;
  color: #fae5eb;
 }
 #book3:nth-child(3) {
  width: .3vw;
  height: 25vh;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #cbf1fa;
}
#book3:nth-child(3) #titles3 {
  font-family: 'Alata', sans-serif;
  margin-bottom: -10px;
  font-size: 1.1vw;
  color: #ffe3e6;
 }
 #book3:nth-child(4) {
  width: .6vw;
  height: 20vh;
  text-align: left;
  background-image: url(assets/purplebars.png);
  background-position: bottom;
  background-size: 30%; 
  background-repeat: repeat-x;
  background-color: #fff3cb;
}
#book3:nth-child(4) #titles3 {
 font-family: 'Permanent Marker', cursive;
 font-size: 1vw;
 color: #dcdbfe;
 margin-bottom: -20px;
 text-shadow: none;
}
#book3:nth-child(5) {
  width: .2vw;
  height: 28vh;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #f6f4d2;
}
#book3:nth-child(5) #titles3 {
 font-family: 'Special Elite', cursive;
 font-size: 1.1vw;
 color: #dedefb;
 margin-bottom: 15px;
}
#book3:nth-child(6) {
  width: .5vw;
  height: 21vh;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #f1f4d6;
}
#book3:nth-child(6) #titles3 {
 font-family: 'Caveat', cursive;
 font-size: 1.1vw;
 color: #e3dcfa;
 margin-bottom: -18px;
 text-shadow: none;
}
#book3:nth-child(7) {
  width: 1.7vw;
  height: 22vh;
  text-align: center;
  background-image: url(assets/peacharrows.png);
  background-position: center;
  background-size: 150%; 
  background-repeat: repeat;
  background-color: #ebf2de;
}
#book3:nth-child(7) #titles3 {
 margin-bottom: 10px;
 margin-top: -21px;
 font-family: 'Righteous', cursive;
 font-size: 1.5vw;
 color: #e7ddf8;
}
#book3:nth-child(8) {
  width: .6vw;
  height: 24vh;
  text-align: left;
  background-image: url(assets/bluebanner.png);
  background-position: center;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #e4f6e2;
}
#book3:nth-child(8) #titles3 {
  font-family: 'Amarante', cursive;
 font-size: 1.2vw;
 color: #ebdef7;
 margin-bottom: -8px;
}
#book3:nth-child(9) {
  width: .5vw;
  height: 19vh;
  text-align: left;
  background-image: url(assets/pinktab.png);
  background-position: top;
  background-size: 170%; 
  background-repeat: no-repeat;
  background-color: #def5e6;
}
#book3:nth-child(9) #titles3 {
 font-family: 'IM Fell Great Primer SC', serif;
 font-size: 1vw;
 color: #eee0fa;
 margin-bottom: -24px;
}
#book3:nth-child(10) {
  width: .8vw;
  height: 24vh;
  text-align: left;
  background-image: url(assets/mintarrows.png);
  background-position: center;
  background-size: 70%; 
  background-repeat: repeat-y;
  background-color: #d8f4eb;
}
#book3:nth-child(10) #titles3 {
  font-family: 'Josefin Sans', sans-serif;
 font-size: 1vw;
 color: #f2ddf2;
 margin-bottom: -8px;
}
#book3:nth-child(11) {
  width: .3vw;
  height: 20vh;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: #d3f5f1;
}
#book3:nth-child(11) #titles3 {
 margin-bottom: -45px;
 font-family: 'Pacifico', cursive;
 font-size: 1.1vw;
 color: #f6e1ee;
}
#book3:nth-child(12) {
  width: .6vw;
  height: 27vh;
  text-align: left;
  background-image: url(assets/greenbands.png);
  background-position: bottom;
  background-size: 50%; 
  background-repeat: repeat-x;
  background-color: #cbf7f4;
}
#book3:nth-child(12) #titles3 {
  margin-bottom: -5px;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8vw;
  color: #fae1ed;
  text-shadow: none;
 }
 #book3:nth-child(13) {
  width: .6vw;
  height: 24vh;
  text-align: left;
  background-image: url(assets/perriwinklebars.png);
  background-position: center;
  background-size: 90%; 
  background-repeat: repeat;
  background-color: #c8f5fa;
}
#book3:nth-child(13) #titles3 {
 font-family: 'Special Elite', cursive;
 font-size: 1.1vw;
 color: #ffe0eb;
}
#book3:nth-child(14) {
  width: .2vw;
  height: 28vh;
  text-align: left;
  background-image: url(assets/pinktab.png);
  background-position: top;
  background-size: 350%; 
  background-repeat: no-repeat;
  background-color: #fff7c6;
}
#book3:nth-child(14) #titles3 {
 font-family: 'Caveat', cursive;
 font-size: 1.2vw;
 color: #e0d7fe;
 margin-bottom: 6px;
}
#book3:nth-child(15) {
  width: .3vw;
  height: 20vh;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 130%; 
  background-repeat: no-repeat;
  background-color: #f6f7ce;
}
#book3:nth-child(15) #titles3 {
 margin-bottom: -30px;
 font-family: 'Zhi Mang Xing', cursive;
 font-size: 1.2vw;
 color: #e2d9fd;
}
#book3:nth-child(16) {
  width: .6vw;
  height: 27vh;
  text-align: center;
  background-image: url(assets/mintbars.png);
  background-position: center;
  background-size: 180%; 
  background-repeat: repeat;
  background-color: #f0f8d2;
}
#book3:nth-child(16) #titles3 {
 margin-bottom: 6px;
 font-family: 'Righteous', cursive;
 font-size: 1.2vw;
 color: #e5d8fc;
}
#book3:nth-child(17) {
  width: .5vw;
  height: 21vh;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #eaf6da;
}
#book3:nth-child(17) #titles3 {
  font-family: 'Lobster', cursive;
  font-size: 1.2vw;
  color: #e9d9fa;
  margin-bottom: -30px;
  text-shadow: none;
}
