#book3:nth-child(18) {
  width: .8%;
  height: 73%;
  text-align: center;
  background-image: url(assets/purplebands.png);
  background-position: right;
  background-size: 16%; 
  background-repeat: repeat-y;
  background-color: #e2f9df;
  transform: rotate(-5deg);
  margin-left: 4px; 
  margin-bottom: 24.5px;
}
#book3:nth-child(18) #titles3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
  transform: rotate(70deg);
  margin-bottom: -30px;
  color: #eddaf9;
}
#book3:nth-child(19) {
  width: 10%;
  height: 13%;
  text-align: center;
  background-image: url(assets/pinktab.png);
  background-position: left;
  background-size: 25%; 
  background-repeat: no-repeat;
  background-color:#dcf9e4;
  margin-bottom: 0px;
  margin-left: -35px;
}
#book3:nth-child(19) #titles3 {
 font-family: 'IM Fell Great Primer SC', serif;
 transform: rotate(0deg);
 font-size: 15px;
 color: #f0dbf8;
 position: fixed;
 left: 43%;
 bottom: -22%;
}
#book3:nth-child(20) {
  width: 10%;
  height: 11%;
  text-align: center;
  background-image: url();
  background-position: right;
  background-size: 25%; 
  background-repeat: no-repeat;
  background-color: #d6f9e9;
  margin-bottom: 0px;
  margin-left: 1px;
}
#book3:nth-child(20) #titles3 {
font-family: 'Josefin Sans', sans-serif;
 transform: rotate(0deg);
 font-size: 12px;
 color: #f3daf5;
 position: fixed;
 left: 55%;
 bottom: -22.3%;
 text-shadow: none;
}
#book3:nth-child(21) {
  width: 8%;
  height: 14.5%;
  text-align: center;
  background-image: url(assets/pinktab.png);
  background-position: right;
  background-size: 15%; 
  background-repeat: no-repeat;
  background-color: #d0faef;
  margin-bottom: 20px;
  margin-left: -120px;
}
#book3:nth-child(21) #titles3 {
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  transform: rotate(0deg);
  margin-top: -4px;
  color: #f6def2;
  position: fixed;
  left: 55.8%;
  bottom: -17%;
}
#book3:nth-child(22) {
  width: 8%;
  height: 15%;
  text-align: center;
  background-image: url(assets/mintarrows.png);
  background-position: center;
  background-size: 7%; 
  background-repeat: repeat;
  background-color: #c8fbf3;
  margin-bottom: 47px;
  margin-left: -120px;
}
#book3:nth-child(22) #titles3 {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  transform: rotate(0deg);
  margin-top: 2px;
  color: #fbdef2;
  position: fixed;
  left: 55.8%;
  bottom: -13.5%;
}
#book3:nth-child(23) {
  width: .4%;
  height: 70%;
  text-align: center;
  background-image: url(assets/peacharrows.png);
  background-position: center;
  background-size: 40%; 
  background-repeat: repeat;
  background-color: #c4f9f9;
 
}
#book3:nth-child(23) #titles3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
  color:#ffdcf1;
  margin-top: -4px;
  margin-right: -10px;
}
#book3:nth-child(24) {
  width: .3%;
  height: 73%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #fffac0;
}
#book3:nth-child(24) #titles3 {
  font-family: 'Acme', sans-serif;
  font-size: 18px;
  color: #ffdcf1;
  margin-bottom: -20px;
}
#book3:nth-child(25) {
  width: .7%;
  height: 84%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #f5fbc9;
}
#book3:nth-child(25) #titles3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #e3d3ff;
}
#book3:nth-child(26) {
  width: 1%;
  height: 80%;
  text-align: center;
  background-image: url(assets/pinkbanner.png);
  background-position: top;
  background-size: 30%; 
  background-repeat: no-repeat;
  background-color: #effbce;
}
#book3:nth-child(26) #titles3 {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: #e6d3fe;
  margin-bottom: -4px;
  text-shadow: none;
}
#book3:nth-child(27) {
  width: .6%;
  height: 80%;
  text-align: center;
  background-image: url(assets/bluebanner.png);
  background-position: top;
  background-size: 80%; 
  background-repeat: no-repeat;
  background-color: #fffbce;
}
#book3:nth-child(27) #titles3 {
  font-family: 'Amarante', cursive;
 font-size: 18px;
 color: #e8d4fd;
 margin-bottom: -10px;
}
#book3:nth-child(28) {
  width: .5%;
  height: 85%;
  text-align: center;
  background-image: url(assets/purpletab.png);
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #effbce;
}
#book3:nth-child(28) #titles3 {
  font-family: 'Anton', cursive;
  font-size: 14px;
  color: #ebd5fc;
  text-shadow: none;
  margin-bottom: -px;
}
#book3:nth-child(29) {
  width: 1%;
  height: 89%;
  text-align: left;
  background-image: url(assets/greenbands.png);
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #e0fddc;
}
#book3:nth-child(29) #titles3 {
 margin-bottom: -1px;
 font-size: 15px;
 color: #efd6fc;
 text-shadow: none;
}
#book3:nth-child(30) {
  width: 1%;
  height: 80%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #dafde1;
}
#book3:nth-child(30) #titles3 {
 margin-bottom: -22px;
 font-family: 'Indie Flower', cursive;
 font-size: 13px;
 color: #f2d7fb;
 text-shadow: none;
}

#book3:nth-child(31) {
  width: .4%;
  height: 70%;
  text-align: left;
  background-image: url(assets/perriwinklebars.png);
  background-position: center;
  background-size: 170%; 
  background-repeat: no-repeat;
  background-color: #d3fde7;
}
#book3:nth-child(31) #titles3 {
  font-family: 'Special Elite', cursive;
  font-size: 13px;
  color: #f5d6f9;
 margin-bottom: 2px;
 margin-right: -13px;
 text-align: center;
 text-shadow: none;
}
#book3:nth-child(32) {
  width: 1.2%;
  height: 78%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #cdfeed;
}
#book3:nth-child(32) #titles3 {
 font-family: 'Shadows Into Light', cursive;
 font-size: 13px;
 color: #f8d8f9;
 margin-bottom: -20px;
 text-shadow: none;
}
#book3:nth-child(33) {
  width:.7%;
  height: 65%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #c6fef2;
}
#book3:nth-child(33) #titles3 {
font-family: 'Acme', sans-serif;
 font-size: 15px;
 color: #fcd9f8;
 margin-bottom: -25px;
}
#book3:nth-child(34) {
  width: .2%;
  height: 80%;
  text-align: center;
  background-image: url(assets/purplebands.png);
  background-position: top;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: #c0fff8;
}
#book3:nth-child(34) #titles3 {
 margin-bottom: -5px;
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
 color: #ffd9f7;
}
