@import url('https://fonts.googleapis.com/css?family=Acme|Alata|Amarante|Dancing+Script|IM+Fell+Great+Primer+SC|Josefin+Sans|Montserrat|Pacifico|Shadows+Into+Light&display=swap');
#book2:nth-child(17) {
  width: .3%;
  height: 58%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #d4e6fc;
}
#book2:nth-child(17) #titles2 {
 font-family: 'Shadows Into Light', cursive;
 font-size: 15px;
 color: #ffecd7;
 margin-bottom: -50px;
}
#book2:nth-child(18) {
  width: 1%;
  height: 65%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #ffecd7;
}
#book2:nth-child(18) #titles2 {
font-family: 'Acme', sans-serif;
 font-size: 15px;
 color: #d4e6fc;
 margin-bottom: -20px;
}
#book2:nth-child(19) {
  width: .1%;
  height: 70%;
  text-align: center;
  background-image: url();
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: #f8ecdd;
}
#book2:nth-child(19) #titles2 {
 margin-bottom: -15px;
 font-family: 'Montserrat', sans-serif;
 font-size: 10px;
 color: #d6e8f8;
}
#book2:nth-child(20) {
  width: 1%;
  height: 85%;
  text-align: center;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #f3eddf;
}
#book2:nth-child(20) #titles2 {
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #dde7f6;
 }
 #book2:nth-child(21) {
  width: 1%;
  height: 73%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #eeebe5;
}
#book2:nth-child(21) #titles2 {
  font-family: 'Amarante', cursive;
  font-size: 14px;
  color: #e0e6f3;
  margin-bottom: -10px;
}
#book2:nth-child(22) {
  width: .7%;
  height: 84%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #e8ede8;
}
#book2:nth-child(22) #titles2 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 12px;
  color: #e5e7f0;
}
#book2:nth-child(23) {
  width: .2%;
  height: 80%;
  text-align: center;
  background-image: url(assets/);
  background-position: center;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: #e3ecec;
}
#book2:nth-child(23) #titles2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  color: #eae9ed ;
  
}
#book2:nth-child(24) {
  width: .6%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: #deebf1;
}
#book2:nth-child(24) #titles2 {
 font-family: 'Pacifico', cursive;
 font-size: 18px;
 color: #efe6e9;
 margin-bottom: -30px;
}
#book2:nth-child(25) {
  width: 8%;
  height: 14%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #d8ecf4;
  margin-bottom: 1px;
  
}
#book2:nth-child(25) #titles2 {
  font-family: 'Dancing Script', cursive;
  font-size: 12px;
  transform: rotate(0deg);
  margin-bottom: .2px;
  color: #f3e9e4;
}
#book2:nth-child(26) {
  width: 8%;
  height: 16%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #d3eef7;
  margin-bottom: 26px;
  margin-left: -120px;
}
#book2:nth-child(26) #titles2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 10px;
  transform: rotate(0deg);
  margin-bottom: 2px;
  color: #f9e8e2;
}
#book2:nth-child(27) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #cfebfb;
}
#book2:nth-child(27) #titles2 {
  margin-bottom: -10px;
  font-family: 'Acme', sans-serif;
  font-size: 13px;
  color: #ffe8de;
 }
#book2:nth-child(28) {
  width: .2%;
  height: 60%;
  text-align: center;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #fff0d1;
}
#book2:nth-child(28) #titles2 {
  margin-bottom: -15px;
  margin-top: -12px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #d8e1fd;
 }
 #book2:nth-child(29) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #f7f0d7;
}
#book2:nth-child(29) #titles2 {
 font-family: 'Alata', sans-serif;
 margin-bottom: -30px;
 font-size: 17px;
 color: #dae2f9;
}
/* book3 */
#book2:nth-child(30) {
  width: .1%;
  height: 55%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #f2f2da;
}
#book2:nth-child(30) #titles2 {
 margin-bottom: -60px;
 font-family: 'Amarante', cursive;
 font-size: 19px;
 color: #dfe2f8;
}
#book2:nth-child(31) {
  width: .2%;
  height: 78%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #edefe1;
}
#book2:nth-child(31) #titles2 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 17px;
  color: #e4e2f5;
  margin-bottom: -12px;
}
#book2:nth-child(32) {
  width: .1%;
  height: 83%;
  text-align: center;
  background-image: url(assets/);
  background-position: center;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: #e5f2e6;
}
#book2:nth-child(32) #titles2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  color: #e8e2f3;
}
#book2:nth-child(33) {
  width: .2%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: #e0f1ea;
}
#book2:nth-child(33) #titles2 {
 font-family: 'Pacifico', cursive;
 font-size: 12px;
 color: #ece4f1;
 margin-bottom: -16px;
}