#book3:nth-child(1) {
  width: .1%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book3:nth-child(1) #titles3 {
  margin-bottom: -10px;
  font-family: 'Acme', sans-serif;
  font-size: 13px;
  color: #;
  text-shadow: none;
 }
#book3:nth-child(2) {
  width: .2%;
  height: 60%;
  text-align: center;
  background-image: url(assets/minttab.png);
  background-position: top;
  background-size: 140%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(2) #titles3 {
  margin-bottom: -15px;
  margin-top: -12px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #;
  text-shadow: none;
 }
 #book3:nth-child(3) {
  width: .3%;
  height: 80%;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(3) #titles3 {
  font-family: 'Alata', sans-serif;
  margin-bottom: -10px;
  font-size: 14px;
  color: #;
  text-shadow: none;
 }
 #book3:nth-child(4) {
  width: .6%;
  height: 70%;
  text-align: left;
  background-image: url(assets/purplebars.png);
  background-position: bottom;
  background-size: 35%; 
  background-repeat: repeat-x;
  background-color: #;
}
#book3:nth-child(4) #titles3 {
 font-family: 'Permanent Marker', cursive;
 font-size: 12px;
 color: #;
 margin-bottom: -20px;
 text-shadow: none;
}
#book3:nth-child(5) {
  width: .2%;
  height: 88%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(5) #titles3 {
 font-family: 'Special Elite', cursive;
 font-size: 13px;
 color: #;
 margin-bottom: 15px;
}
#book3:nth-child(6) {
  width: .5%;
  height: 71%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(6) #titles3 {
 font-family: 'Caveat', cursive;
 font-size: 15px;
 color: #;
 margin-bottom: -10px;
 text-shadow: none;
}
#book3:nth-child(7) {
  width: 1.7%;
  height: 78%;
  text-align: center;
  background-image: url(assets/peacharrows.png);
  background-position: center;
  background-size: 150%; 
  background-repeat: repeat;
  background-color: #;
}
#book3:nth-child(7) #titles3 {
 margin-bottom: 10px;
 margin-top: -21px;
 font-family: 'Righteous', cursive;
 font-size: 19px;
 color: #;
}
#book3:nth-child(8) {
  width: .6%;
  height: 80%;
  text-align: left;
  background-image: url(assets/bluebanner.png);
  background-position: center;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(8) #titles3 {
  font-family: 'Amarante', cursive;
 font-size: 15px;
 color: #;
 margin-bottom: -8px;
}
#book3:nth-child(9) {
  width: .5%;
  height: 68%;
  text-align: left;
  background-image: url(assets/pinktab.png);
  background-position: top;
  background-size: 170%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(9) #titles3 {
 font-family: 'IM Fell Great Primer SC', serif;
 font-size: 13px;
 color: #;
 margin-bottom: -14px;
}
#book3:nth-child(10) {
  width: .8%;
  height: 75%;
  text-align: left;
  background-image: url(assets/mintarrows.png);
  background-position: center;
  background-size: 70%; 
  background-repeat: repeat-y;
  background-color: #;
}
#book3:nth-child(10) #titles3 {
  font-family: 'Josefin Sans', sans-serif;
 font-size: 13px;
 color: #;
 margin-bottom: -3px;
}
#book3:nth-child(11) {
  width: .1%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: #;
}
#book3:nth-child(11) #titles3 {
 margin-bottom: -35px;
 font-family: 'Pacifico', cursive;
 font-size: 15px;
 color: #;
 text-shadow: none;
}
#book3:nth-child(12) {
  width: .6%;
  height: 81%;
  text-align: left;
  background-image: url(assets/greenbands.png);
  background-position: bottom;
  background-size: 50%; 
  background-repeat: repeat-x;
  background-color: #;
}
#book3:nth-child(12) #titles3 {
  margin-bottom: -10px;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: #;
  text-shadow: none;
 }
 #book3:nth-child(13) {
  width: .6%;
  height: 75%;
  text-align: left;
  background-image: url(assets/perriwinklebars.png);
  background-position: center;
  background-size: 90%; 
  background-repeat: repeat;
  background-color: #;
}
#book3:nth-child(13) #titles3 {
 font-family: 'Special Elite', cursive;
 font-size: 15px;
 color: #;
 margin-bottom: -12px;
 text-shadow: none;
}
#book3:nth-child(14) {
  width: .2%;
  height: 82%;
  text-align: left;
  background-image: url(assets/pinktab.png);
  background-position: top;
  background-size: 350%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(14) #titles3 {
 font-family: 'Caveat', cursive;
 font-size: 15px;
 color: #;
 margin-bottom: -8px;
}
#book3:nth-child(15) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url(assets/purplebands.png);
  background-position: bottom;
  background-size: 130%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(15) #titles3 {
 margin-bottom: -20px;
 font-family: 'Zhi Mang Xing', cursive;
 font-size: 16px;
 color: #;
}
#book3:nth-child(16) {
  width: .6%;
  height: 85%;
  text-align: center;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book3:nth-child(16) #titles3 {
 margin-bottom: -1px;
 /* margin-top: -21px; */
 font-family: 'Righteous', cursive;
 font-size: 14px;
 color: #;
}
#book3:nth-child(17) {
  width: .5%;
  height: 73%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book3:nth-child(17) #titles3 {
  font-family: 'Lobster', cursive;
  font-size: 16px;
  color: #;
  margin-bottom: -30px;
  text-shadow: none;
}
