#book3:nth-child(1) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #cfebfb;
}
#book3:nth-child(1) #titles3 {
  margin-bottom: -10px;
  font-family: 'Acme', sans-serif;
  font-size: 13px;
  color: #ffe8de;
  text-shadow: none;
 }
#book3:nth-child(2) {
  width: .2%;
  height: 60%;
  text-align: center;
  background-image: url(assets/minttab.png);
  background-position: top;
  background-size: 140%; 
  background-repeat: no-repeat;
  background-color: #fff0d1;
}
#book3:nth-child(2) #titles3 {
  margin-bottom: -15px;
  margin-top: -12px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #d8e1fd;
  text-shadow: none;
 }
 #book3:nth-child(3) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #f7f0d7;
}
#book3:nth-child(3) #titles3 {
  font-family: 'Alata', sans-serif;
  margin-bottom: -30px;
  font-size: 17px;
  color: #dae2f9;
  text-shadow: none;
 }
 #book3:nth-child(4) {
  width: .6%;
  height: 70%;
  text-align: left;
  background-image: url(assets/purplebars.png);
  background-position: top;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: #f6def2;
}
#book3:nth-child(4) #titles3 {
 font-family: 'Permanent Marker', cursive;
 font-size: 18px;
 color: #d0faef;
 margin-bottom: -60px;
 text-shadow: none;
}
#book3:nth-child(5) {
  width: 1%;
  height: 88%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #f3daf5;
}
#book3:nth-child(5) #titles3 {
 font-family: 'Special Elite', cursive;
 font-size: 15px;
 color: #d6f9e9;
 margin-bottom: -40px;
}
#book3:nth-child(6) {
  width: 1%;
  height: 65%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #f0dbf8;
}
#book3:nth-child(6) #titles3 {
 font-family: 'Caveat', cursive;
 font-size: 15px;
 color: #dcf9e4;
 margin-bottom: -70px;
 text-shadow: none;
}
#book3:nth-child(7) {
  width: .1%;
  height: 70%;
  text-align: center;
  background-image: url(assets/peacharrows.png);
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: #eddaf9;
}
#book3:nth-child(7) #titles3 {
 margin-bottom: -40px;
 margin-top: -21px;
 font-family: 'Righteous', cursive;
 font-size: 20px;
 color: #e2f9df;
}
#book3:nth-child(8) {
  width: .6%;
  height: 80%;
  text-align: center;
  background-image: url(assets/bluebanner.png);
  background-position: center;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #eae9ed;
}
#book3:nth-child(8) #titles3 {
  font-family: 'Amarante', cursive;
 font-size: 8px;
 color: #e3ecec;
 margin-bottom: -10px;
}
#book3:nth-child(9) {
  width: 1%;
  height: 88%;
  text-align: left;
  background-image: url(assets/perriwinklebars.png);
  background-position: center;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: #e5e7f0;
}
#book3:nth-child(9) #titles3 {
 font-family: 'IM Fell Great Primer SC', serif;
 font-size: 16px;
 color: #e8ede8;
}
#book3:nth-child(10) {
  width: 1%;
  height: 75%;
  text-align: left;
  background-image: url(assets/mintarrows.png);
  background-position: center;
  background-size: 70%; 
  background-repeat: repeat-y;
  background-color: #e0e6f3;
}
#book3:nth-child(10) #titles3 {
  font-family: 'Josefin Sans', sans-serif;
 font-size: 15px;
 color: #eeebe5;
 margin-bottom: -3px;
}
#book3:nth-child(11) {
  width: .1%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: #dde7f6;
}
#book3:nth-child(11) #titles3 {
 margin-bottom: -15px;
 font-family: 'Pacifico', cursive;
 font-size: 12px;
 color: #f3eddf;
 text-shadow: none;
}
#book3:nth-child(12) {
  width: 1.2%;
  height: 81%;
  text-align: left;
  background-image: url(assets/greenbands.png);
  background-position: bottom;
  background-size: 50%; 
  background-repeat: repeat-x;
  background-color: #d6e8f8;
}
#book3:nth-child(12) #titles3 {
  margin-bottom: -10px;
  font-family: 'Dancing Script', cursive;
  font-size: 14px;
  color: #f8ecdd;
  text-shadow: none;
 }
 #book3:nth-child(13) {
  width: 1%;
  height: 75%;
  text-align: left;
  background-image: url(assets/perriwinklebars.png);
  background-position: center;
  background-size: 90%; 
  background-repeat: repeat;
  background-color: #dcdbfe;
}
#book3:nth-child(13) #titles3 {
 font-family: 'Special Elite', cursive;
 font-size: 17px;
 color: #fff3cb;
 margin-bottom: -20px;
 text-shadow: none;
}
#book3:nth-child(14) {
  width: .2%;
  height: 82%;
  text-align: left;
  background-image: url(assets/pinktab.png);
  background-position: top;
  background-size: 350%; 
  background-repeat: no-repeat;
  background-color: #ffe3e6;
}
#book3:nth-child(14) #titles3 {
 font-family: 'Caveat', cursive;
 font-size: 16px;
 color: #cbf1fa;
 margin-bottom: -70px;
}
#book3:nth-child(15) {
  width: .1%;
  height: 70%;
  text-align: center;
  background-image: url(assets/purplebands.png);
  background-position: bottom;
  background-size: 130%; 
  background-repeat: no-repeat;
  background-color: #fae5e8;
}
#book3:nth-child(15) #titles3 {
 margin-bottom: -40px;
 margin-top: -21px;
 font-family: 'Zhi Mang Xing', cursive;
 font-size: 16px;
 color: #cef3f5;
}
#book3:nth-child(16) {
  width: .1.2%;
  height: 85%;
  text-align: right;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #f4e5e8;
}
#book3:nth-child(16) #titles3 {
 margin-bottom: -40px;
 margin-top: -21px;
 font-family: 'Righteous', cursive;
 font-size: 14px;
 color: #d6f1f2;
}
#book3:nth-child(17) {
  width: 1%;
  height: 73%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #e3d3ff;
}
#book3:nth-child(17) #titles3 {
  font-family: 'Lobster', cursive;
  font-size: 16px;
  color: #fffac0;
  margin-bottom: -30px;
  text-shadow: none;
}