@import url('https://fonts.googleapis.com/css?family=Acme|Alata|Amarante|Dancing+Script|IM+Fell+Great+Primer+SC|Josefin+Sans|Montserrat|Pacifico|Shadows+Into+Light&display=swap');
#book2:nth-child(1) {
  width: .1.2%;
  height: 85%;
  text-align: right;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book2:nth-child(1) #titles2 {
  margin-top: -5px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: ;
 }
 #book2:nth-child(2) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book2:nth-child(2) #titles2 {
 font-family: 'Alata', sans-serif;
 margin-bottom: -40px;
 font-size: 18px;
 color: #;
}
/* book3 */
#book2:nth-child(3) {
  width: 1%;
  height: 75%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book2:nth-child(3) #titles2 {
 margin-bottom: -10px;
 font-family: 'Amarante', cursive;
 font-size: 12px;
 color: #;
}
#book2:nth-child(4) {
  width: 10%;
  height: 12%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
  margin-bottom: 2px;
  margin-left: 0px;
}
#book2:nth-child(4) #titles2 {
 font-family: 'IM Fell Great Primer SC', serif;
 transform: rotate(0deg);
 font-size: 12px;
 color: ;
 margin-bottom: -10px;
}
#book2:nth-child(5) {
  width: 9%;
  height: 13%;
  text-align: center;
  background-image: url();
  background-position: right;
  background-size: 25%; 
  background-repeat: no-repeat;
  background-color: ;
  margin-bottom: 23px;
  margin-left: -140px;
}
#book2:nth-child(5) #titles2 {
font-family: 'Josefin Sans', sans-serif;
 transform: rotate(0deg);
 margin-bottom: -10px;
 font-size: 8px;
 color: ;
}
#book2:nth-child(6) {
  width: 8%;
  height: 14.5%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
  margin-bottom: 47px;
  margin-left: -140px;
}
#book2:nth-child(6) #titles2 {
  font-family: 'Pacifico', cursive;
  font-size: 10px;
  transform: rotate(0deg);
  margin-top: -4px;
}
#book2:nth-child(7) {
  width: 9%;
  height: 15%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
  margin-bottom: 73px;
  margin-left: -127px;
}
#book2:nth-child(7) #titles2 {
  font-family: 'Dancing Script', cursive;
  font-size: 10px;
  transform: rotate(0deg);
  margin-top: 2px;
}
#book2:nth-child(8) {
  width: .4%;
  height: 70%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
 
}
#book2:nth-child(8) #titles2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 11px;
  color: ;
  margin-top: -4px;
  margin-right: -10px;
}
#book2:nth-child(9) {
  width: .3%;
  height: 73%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(9) #titles2 {
  font-family: 'Acme', sans-serif;
  font-size: 18px;
  color: ;
  margin-bottom: -20px;
}
#book2:nth-child(10) {
  width: .7%;
  height: 84%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(10) #titles2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: ;
}
#book2:nth-child(11) {
  width: 1%;
  height: 80%;
  text-align: center;
  background-image: url(assets/);
  background-position: center;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(11) #titles2 {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: ;
  margin-bottom: -4px;
}
#book2:nth-child(12) {
  width: .6%;
  height: 80%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(12) #titles2 {
  font-family: 'Amarante', cursive;
 font-size: 10.5px;
 color: ;
 margin-bottom: -10px;
}
#book2:nth-child(13) {
  width: 1%;
  height: 88%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(13) #titles2 {
 font-family: 'IM Fell Great Primer SC', serif;
 font-size: 16px;
 color: ;
}
#book2:nth-child(14) {
  width: 1%;
  height: 75%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(14) #titles2 {
  font-family: 'Josefin Sans', sans-serif;
 font-size: 15px;
 color: ;
 margin-bottom: -3px;
}
#book2:nth-child(15) {
  width: .1%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: ;
}
#book2:nth-child(15) #titles2 {
 margin-bottom: -15px;
 font-family: 'Pacifico', cursive;
 font-size: 11px;
 color: ;
}
#book2:nth-child(16) {
  width: 1.2%;
  height: 81%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book2:nth-child(16) #titles2 {
  margin-bottom: -10px;
  font-family: 'Dancing Script', cursive;
  font-size: 14px;
  color: ;
 }