@import url('https://fonts.googleapis.com/css?family=Acme|Alata|Amarante|Dancing+Script|IM+Fell+Great+Primer+SC|Josefin+Sans|Montserrat|Pacifico|Shadows+Into+Light&display=swap');
#book2:nth-child(17) {
  width: 1%;
  height: 88%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(17) #titles2 {
 font-family: 'Shadows Into Light', cursive;
 font-size: 15px;
 color: ;
 /* margin-bottom: -40px; */
}
#book2:nth-child(18) {
  width: 1%;
  height: 65%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(18) #titles2 {
  font-family: 'Acme', sans-serif;
 font-size: 15px;
 color: ;
 /* margin-bottom: -70px; */
}
#book2:nth-child(19) {
  width: .1%;
  height: 70%;
  text-align: center;
  background-image: url();
  background-position: center;
  background-size: 350%; 
  background-repeat: repeat;
  background-color: ;
}
#book2:nth-child(19) #titles2 {
 /* margin-bottom: -40px;
 margin-top: -21px; */
 font-family: 'Montserrat', sans-serif;
 font-size: 10px;
 color: ;
}
#book2:nth-child(20) {
  width: 1%;
  height: 85%;
  text-align: right;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book2:nth-child(20) #titles2 {
  /* margin-bottom: -10px; */
  /* margin-top: 5px;  */
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: ;
 }
 #book2:nth-child(21) {
  width: 1%;
  height: 73%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(21) #titles2 {
  font-family: 'Amarante', cursive;
  font-size: 16px;
  color: ;
  margin-bottom: -30px;
}
#book2:nth-child(22) {
  width: .7%;
  height: 84%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(22) #titles2 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 10px;
  color: ;
  /* margin-bottom: -30px; */
}
#book2:nth-child(23) {
  width: 1%;
  height: 80%;
  text-align: left;
  background-image: url(assets/);
  background-position: center;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(23) #titles2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  color: ;
  /* margin-bottom: -30px; */
}
#book2:nth-child(24) {
  width: .6%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(24) #titles2 {
 font-family: 'Pacifico', cursive;
 font-size: 10px;
 color: ;
 margin-bottom: -60px;
}
#book2:nth-child(25) {
  width: 8%;
  height: 10%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
  margin-bottom: 1px;
  
}
#book2:nth-child(25) #titles2 {
  font-family: 'Dancing Script', cursive;
  font-size: 10px;
  transform: rotate(0deg);
  margin-bottom: .2px;
}
#book2:nth-child(26) {
  width: 8%;
  height: 10%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
  margin-bottom: 20px;
  margin-left: -120px;
}
#book2:nth-child(26) #titles2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 9px;
  transform: rotate(0deg);
  margin-bottom: 2px;
}
#book2:nth-child(27) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book2:nth-child(27) #titles2 {
  margin-bottom: -10px;
  /* margin-top: -5px;  */
  font-family: 'Acme', sans-serif;
  font-size: 12px;
  color: ;
  /* transform: rotate(-80deg); */
 }
#book2:nth-child(28) {
  width: .2%;
  height: 60%;
  text-align: center;
  background-image: url();
  background-position: center;
  background-size: 100%; 
  background-repeat: repeat;
  background-color: #;
}
#book2:nth-child(28) #titles2 {
  margin-bottom: -15px;
  margin-top: -12px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: ;
 }
 #book2:nth-child(29) {
  width: .3%;
  height: 70%;
  text-align: left;
  background-image: url();
  background-position: bottom;
  background-size: 120%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book2:nth-child(29) #titles2 {
 font-family: 'Alata', sans-serif;
 margin-bottom: -30px;
 font-size: 15px;
 color: #;
}
/* book3 */
#book2:nth-child(30) {
  width: .1%;
  height: 55%;
  text-align: left;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: #;
}
#book2:nth-child(30) #titles2 {
 margin-bottom: -50px;
 font-family: 'Amarante', cursive;
 font-size: 15px;
 color: #;
}
#book2:nth-child(31) {
  width: .7%;
  height: 78%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 90%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(31) #titles2 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 15px;
  color: ;
  /* margin-bottom: -30px; */
}
#book2:nth-child(32) {
  width: .1%;
  height: 83%;
  text-align: center;
  background-image: url(assets/);
  background-position: center;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(32) #titles2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10px;
  color: ;
  /* margin-bottom: -30px; */
}
#book2:nth-child(33) {
  width: .2%;
  height: 70%;
  text-align: center;
  background-image: url();
  background-position: top;
  background-size: 150%; 
  background-repeat: no-repeat;
  background-color: ;
}
#book2:nth-child(33) #titles2 {
 font-family: 'Pacifico', cursive;
 font-size: 11px;
 color: ;
 margin-bottom: -10px;
 /* margin-left: 90px; */
}