html {
  background-color: #B9A4DE;
}
body {
  margin: 20px;
  overflow: hidden;
}
.bookshelf{ 
  width: 96vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-self: flex-start;
}
