html {
  background-color: #D1B0FF;
}
body {
  margin: 20px;
  overflow: hidden;
}
.bookshelf{ 
  width: 97vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-self: flex-start;
}
.troll {
  background-image: url(assets/troll.png);
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 13.3%;
  left: 24.5%;
  -webkit-filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
  filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
}
.polaroid {
  background-image: url(assets/polaroid.png);
  background-size: 70%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 8%;
  left: 28%;
  -webkit-filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
  filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
}
.tapes {
  background-image: url(assets/tapes.png);
  background-size: 95%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 41.2%;
  left: 12%;
  -webkit-filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
  filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
}
.pony {
  background-image: url(assets/pony.png);
  background-size: 70%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 45.5%;
  left: 76.2%;
  -webkit-filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
  filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
}
.alf {
  background-image: url(assets/alf.png);
  background-size: 75%;
  background-repeat: no-repeat;
  width: 100px;
  height: 200px;
  position: fixed;
  top: 41.2%;
  left: 71.8%;
  -webkit-filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
  filter: drop-shadow( 0 0 3px rgb(36, 36, 36));
}
